<Sider Collapsible Width="200" Class="site-layout-background">
    <Menu Theme="MenuTheme.Light"
          DefaultSelectedKeys=@(new[]{"1"})
          Mode="MenuMode.Inline"
          Style="height: 100%; border-right: 0;">
        <MenuItem Key="1">
            <Icon Type="dashboard" Theme="outline" />
            <span>Dashboard</span>
        </MenuItem>
        @{
            RenderFragment questionTitle =
            @<span>
                <Icon Type="question" Theme="outline" />
                <span>Question</span>
            </span>;
        }
        <SubMenu Key="sub1" Title=questionTitle>
            <MenuItem Key="question:1">
                <MenuLink href="/question/add" Match="NavLinkMatch.All">Add Question</MenuLink>
            </MenuItem>
            <MenuItem Key="3">
                <a title="Add Multiple Questions in Single Shot" href="Question/AddMultiple">Add Questions (In Bulk)</a>
            </MenuItem>
            <MenuItem Key="4">
                <a title="Review Questions" href="#">Review</a>
            </MenuItem>
            <MenuItem Key="5">
                <a title="Manage Question Tags" href="#">Manage Tags</a>
            </MenuItem>
        </SubMenu>
        @{
            RenderFragment questionPaperTitle =
            @<span>
                <Icon Type="file-add" Theme="outline" />
                <span>Question Paper</span>
            </span>;
        }
        <SubMenu Key="sub2" Title=questionPaperTitle>
            <MenuItem Key="6">
                <a href="#">Generate New</a>
            </MenuItem>
            <MenuItem Key="7">
                <a href="#">Manage Papers</a>
            </MenuItem>
        </SubMenu>

        @{
            RenderFragment examTitle =
            @<span>
                <Icon Type="bell" Theme="outline" />
                <span>Exam</span>
            </span>;
        }
        <SubMenu Key="sub3" Title=examTitle>
            <MenuItem Key="8">
                <a href="#">Schedule New</a>
            </MenuItem>
            <MenuItem Key="9">
                <a href="#">Manage Exams</a>
            </MenuItem>
        </SubMenu>

        <MenuItem Key="10">
            <Icon Type="table" Theme="outline" />
            <span>Results</span>
        </MenuItem>
    </Menu>
</Sider>
