@page "/"

<MudCarousel Class="mud-width-full" Style="height:400px" ShowArrows ShowBullets AutoCycle TData="object">
    <MudCarouselItem Transition="Transition.Slide" Color="@Color.Primary">
        <div class="d-flex" style="height:100%">
            <MudText Typo="Typo.h3" Class="mx-auto my-auto">
                Generate Question Paper
            </MudText>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide" Color="@Color.Secondary">
        <div class="d-flex" style="height:100%">
            <MudText Typo="Typo.h3" Class="mx-auto my-auto">
                Coduct Exams
            </MudText>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Slide">
        <div class="d-flex" style="height:100%">
            <MudText Typo="Typo.h3" Class="mx-auto my-auto">
                Automate Evaluation
            </MudText>
        </div>
    </MudCarouselItem>
</MudCarousel>
