@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <li id="profile-link">
            <a href="#"><img class="uk-border-rounded" src="img/me.jpg" width="30" height="30" alt="profile image"></a>
             <div class="uk-navbar-dropdown">
                 <ul class="uk-nav uk-navbar-dropdown-nav">
                     <li><a href="authentication/profile">Profile</a></li>
                     <li><a href="#">Change Password</a></li>
                     <li><a href="#">Two-factor Authentication</a></li>
                     <li class="uk-nav-divider"></li>
                     <li><button class="uk-button uk-button-danger uk-width-1-1" @onclick="BeginSignOut"><span uk-icon="icon: sign-out" uk-tooltip="title: Sign Out"></span> Logout</button></li>
                 </ul>
            </div>
        </li>
    </Authorized>
    <NotAuthorized>
        <ul class="uk-iconnav">
            <li><a href="authentication/register" uk-icon="icon: lock" uk-tooltip="title: Register"></a></li>
            <li><a href="authentication/login" uk-icon="icon: sign-in" uk-tooltip="title: Sign In"></a></li>
        </ul>
    </NotAuthorized>
</AuthorizeView>

@code{  
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
