@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <li><a href="authentication/profile">Hi, @GetUserName(context.User.Identity.Name)</a></li>
		<li><a uk-icon="icon: sign-out" uk-tooltip="title: Sign Out" @onclick="BeginSignOut"></a></li>
    </Authorized>
    <NotAuthorized>
        <li><a href="authentication/register" uk-icon="icon: lock" uk-tooltip="title: Register"></a></li>
        <li><a href="authentication/login" uk-icon="icon: sign-in" uk-tooltip="title: Sign In"></a></li>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }

    private string GetUserName(string email) =>
        email?.Substring(0, email?.LastIndexOf("@") ?? 0);
}
