<div id="offcanvas-nav" uk-offcanvas="flip: true; overlay: true">
	<div class="uk-offcanvas-bar">
		<button class="uk-offcanvas-close" type="button" uk-close></button>
		<ul class="uk-nav uk-nav-default">			
			<li class="uk-nav-header">General</li>
			<li><a href="#">Item</a></li>
			<li><a href="#">Item</a></li>
			<li><a href="#">Item</a></li>
			<li class="uk-nav-header">General</li>
			<li class="uk-parent">
                <a href="#">Parent</a>
                <ul class="uk-nav-sub">
                    <li><a href="#">Sub item</a></li>
                    <li><a href="#">Sub item</a></li>
                </ul>
            </li>
			<li><a href="#">Item</a></li>
			<li><a href="#">Item</a></li>
			<li class="uk-nav-header">General</li>
			<li><a href="#">Item</a></li>
			<li><a href="#">Item</a></li>
			<li><a href="#">Item</a></li>
		</ul>
	</div>
</div>