@page "/tags/manage"

@inject HttpClient Http
@using Kolpi.Shared.ViewModels
@using Kolpi.Client.Shared.Results

<div>
    <Row>
        <Col Span="12">

        </Col>

        <Col Span="12">
        @if (tagTypeViewModels.Any())
        {
            <Table @ref="table"
                   DataSource="@tagTypeViewModels"
                   Total="_total">

                <Selection Key="@(context.Id.ToString())" />
                <Column @bind-Field="@context.Id" />
                <Column @bind-Field="@context.Details" />

                <ActionColumn Title="Action">
                    <Space Size="middle">
                        <SpaceItem>
                            <a>Edit</a>
                        </SpaceItem>
                        <SpaceItem>
                            <a>Delete</a>
                        </SpaceItem>
                    </Space>
                </ActionColumn>
            </Table>

            <br />
            <p>Total @_total records.</p>
        }
        else
        {
            <EmptyResult Explanation="No tagtypes added yet." />
        }
        </Col>
    </Row>
</div>


@code {
    TagTypeViewModel[] tagTypeViewModels = new TagTypeViewModel[] { };
    ITable table;
    int _total = 0;

    protected override async Task OnInitializedAsync()
    {
        tagTypeViewModels = await GetTagTypesAsync();
        _total = tagTypeViewModels.Length;
    }

    public Task<TagTypeViewModel[]> GetTagTypesAsync()
    {
        return Http.GetFromJsonAsync<TagTypeViewModel[]>("api/tagtypes");
    }
}
